<div class="">
  <h1>MyCoolBrand</h1>
</div>

<div>
  <h3>Sign In</h3>
  <form class="" action="/session" method="post">
    <%= auth_token %>
    <input type="text" name="user[email]" id="Email" placeholder="Enter your email" value="<%= @user.nil? ? '' : "#{@user.email}"%>">
    <br>
    <br>
    <input type="password" name="user[password]" id="Password" value="" placeholder="Password">
    <br>
    <br>
    <input class="" type="submit" value="Sign In">
  </form>
  <p class="">
    Don't have an account ? <%= link_to "Sign Up!", new_user_url %>
  </p>
</div>
